html {
    background-color: black;
}

body {
    color: rgb(255,255,255);
}

blockquote {
    background-color: hsl(0, 0%, 29%)!important;
}

.modal {
    color: black;
}

.black {
    color: black!important;
}