html {
    background-color: black;
    user-select: none;
}

body {
    color: rgb(255,255,255);
}

blockquote {
    background-color: hsl(0, 0%, 29%)!important;
}

.modal {
    color: black;
}

@media print {
    html, body {
       display: none;
    }
}